<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gamelistings</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li *ngIf="!(af.auth | async)"><a [routerLink]="['/']">Home</a></li>
        <li *ngIf="(af.auth | async)"><a [routerLink]="['/gamepage']">GamePage</a></li>
       <li *ngIf="(af.auth | async)"><a [routerLink]="['/lfg']">Looking for Group</a></li>
       <li *ngIf="(af.auth | async)"><a [routerLink]="['/alldata']">Get your Request</a></li>
        

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="(af.auth | async)"><a [routerLink]="['/listings']">Your Profile</a></li>
        <li *ngIf="(af.auth | async)"><a [routerLink]="['/add-listing']">Add Profile</a></li>
        <li *ngIf="!(af.auth | async)"><a (click)="login()"><strong>Google Login</strong></a></li>
        <li *ngIf="(af.auth | async)"><a (click)="logout()"><strong>Logout</strong></a></li>
        
        <li><a [routerLink]="['/login']">Login</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
