<div class="jumbotron text-center">
  <div class="container">
      <h1>Diablo3</h1>
      <p><img src="https://upload.wikimedia.org/wikipedia/en/8/80/Diablo_III_cover.png"></p>
     <div style="font-size: 95%;">In the game, players choose one of six character classes – Barbarian, Crusader, Demon Hunter, Monk, Witch Doctor or Wizard (with the Crusader being unavailable unless the player has purchased the expansion pack, Diablo III: Reaper of Souls) – and are tasked with defeating the Lord of Terror, Diablo.</div>
        <h2>Number Of Users:3</h2>
        <h2>Blizzard Entertainment</h2>
        <h3>Platform Supported</h3>
        <li><span class="nowraplinks">PlayStation 3</span></li>
        <li><span class="nowraplinks">PlayStation 4</span></li>
        <li><span class="nowraplinks">Xbox 360</span></li>
        <li><span class="nowraplinks">Xbox One</span></li>
        <h3>Characters You Can Choose</h3>
        <select class="container" type="text">
      <option value="Barbarian"><b>Barbarian</b></option>
      <option value="Crusader"><b>Crusader</b></option>
      <option value="Demon Hunter"><b>Demon Hunter</b></option>
      <option value="Monk"><b>Monk</b></option>
      <option value="Witch Doctor"><b>Witch Doctor</b></option>
      <option value="Wizard"><b>Wizard</b></option>
      
      
    </select>
