<a [routerLink]="['/listings']">Back</a>
<br />
<h2 class="page-header">Add Listing</h2>
<form (submit)="onAddSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" type="text" [(ngModel)]="title" name="title" />
  </div>
  <div class="form-group">
    <label>Player IDS</label>
    <input class="form-control" type="text" [(ngModel)]="city" name="city" required />
  </div>
  <div class="form-group">
    <label>City</label>
    <input class="form-control" type="text" [(ngModel)]="owner" name="owner" required />
  </div>
  <div class="form-group">
    <label>Address</label>
    <input class="form-control" type="text" [(ngModel)]="bedrooms" name="bedrooms" required />
  </div>
  <div class="form-group">
    <label>Playstyle</label>
    <select class="form-control" type="text" [(ngModel)]="type" name="type" required>
      <option value="Any">Any</option>
      <option value="Causal">Causal</option>
      <option value="Serious">Serious</option>
      <option value="Zealous">Zealous</option>
    </select>
  </div>
  <div class="form-group">
    <input id="image" name="image" [(ngModel)]="image" type="file" />
  </div>
  <div class="form-group">
    <label>Age</label>
    <input class="form-control" type="number" min="1" max="110"[(ngModel)]="price" name="price" required />
  </div>
  <div class="form-group">
    <label>PlayTimes(Hours)</label>
    <input class="form-control" type="number" min="1" max="24"[(ngModel)]="time" name="time" required />
  </div>
  <div class="form-group">
    <label>Game You Wanna Play</label>
    <select class="form-control" type="text" [(ngModel)]="game" name="game" required>
      <option value="Destiny">Destiny</option>
      <option value="Diablo3">Diablo3</option>
      <option value="DarkSouls3">DarkSouls3</option>
      <option value="Deadbydaylight">Deadbydaylight</option>
    </select>
    </div>
    <div class="form-group">
    <label>Platform</label>
    <select class="form-control" type="text" [(ngModel)]="platform" name="platform" required>
      <option value="PC">PC</option>
      <option value="PS3">PS3</option>
      <option value="PS4">PS4</option>
      <option value="XB1">XB1</option>
    </select>
    </div>
    <input type="submit" value="submit" class="btn btn-success" />
</form>
