<div class="list-group">
 <h3 class="text-center">GET Your Group Request</h3>
 <a *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
 <div class="d-flex w-100 justify-content-between">
 <small class="text-muted">Game Wanna Play</small>
 <h5 class="list-group">{{item.game}}</h5>
 
 </div>
 <small class="text-muted">Type of Team</small>
 <h5 class="list-group">{{item.type}}</h5>
 <small class="text-muted">Match or Event</small>
 <h5 class="list-group">{{item.match}}</h5>
 <small class="text-muted">Duration</small>
 <h5 class="list-group">{{item.time}}</h5>
 <small class="text-muted">Description</small>
 <h5 class="list-group">{{item.short}}</h5>
 </a>
 <a routerLink='/lfg' class="btn btn-primary">Back</a>
</div>